// Global Styles
@import "global/variables";
@import "global/reset.scss";

*,
*:after,
*:before {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

html {
  touch-action: manipulation;
}

body {
  font-family: "Roboto", sans-serif;
}

// AVOID CHANGING
.main {
  min-height: 100vh;
  padding: 150px 0;
  width: 100%;
}

// AVOID CHANGING
.main-wrapper {
  margin: 0 auto;
  max-width: $bk-desktop;
}

// Components
// Go to 8 units of precision in your CSS.
// Example: 33.33333333% or 66.66666667%
